In [1]:
# initial imports
import pandas as pd
from path import Path

In [2]:
# Load data
file_path = Path("Resources/loans_data_encoded.csv")
encoded_df = pd.read_csv(file_path)
encoded_df.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

## Scaling Data

In [3]:
# Creating the scaler instance
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [14]:
# Fitting the scaler
loans_data_scaled = data_scaler.fit_transform(encoded_df)
loans_data_scaled

array([[ 0.49337687,  0.89789115,  2.28404253, ..., -0.88640526,
        -0.42665337,  0.42665337],
       [ 0.49337687,  0.89789115,  3.10658738, ..., -0.88640526,
         2.34382305, -2.34382305],
       [ 0.49337687,  0.89789115,  0.3099349 , ..., -0.88640526,
         2.34382305, -2.34382305],
       ...,
       [-1.24386563, -0.97897162, -0.18359201, ...,  1.12815215,
        -0.42665337,  0.42665337],
       [ 0.49337687,  0.89789115,  1.13247975, ...,  1.12815215,
         2.34382305, -2.34382305],
       [ 0.49337687,  0.89789115, -0.51260995, ..., -0.88640526,
        -0.42665337,  0.42665337]])

In [34]:
list = loans_data_scaled.shape

import numpy as np
for i in range(list[1]):
    print( np.mean(loans_data_scaled[:,i]))
    print(np.std(loans_data_scaled[:,i]))

-3.552713678800501e-16
0.9999999999999999
-1.7763568394002506e-16
1.0
6.039613253960852e-17
1.0
-5.684341886080802e-17
0.9999999999999999
6.838973831690964e-17
1.0
-4.263256414560601e-17
1.0
1.2168044349891717e-16
0.9999999999999999
-1.0658141036401503e-17
1.0000000000000004
2.842170943040401e-17
1.0
-2.842170943040401e-17
1.0
3.907985046680551e-17
1.0